@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


/* .hero {
    height: 20vh !important;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }   */

.banner-Image {
  width:auto;
  height:300px;
}  

.ImgContainer{
  margin-top:5px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer stays above other content */
} 

.navbar button.btn:hover {
  background-color: grey; /* Remove the blue hover background */
  outline : none !important;
}






