@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


/* .hero {
    height: 20vh !important;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }   */

  .banner-image {
    width: auto;
    height: 300px;
    padding: 5px;
  }
  
  .img-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }



.navbar button.btn:hover {
  background-color: white; /* Remove the blue hover background */
  outline : none !important;
}






